aermanager==0.3.0
contourpy==1.3.0
cycler==0.12.1
Deprecated==1.2.15
dv==1.0.12
expelliarmus==1.1.12
filelock==3.16.1
flatbuffers==24.12.23
fonttools==4.55.4
fsspec==2024.12.0
h5py==3.12.1
imageio==2.37.0
importlib_resources==6.5.2
ipympl==0.9.6
ipywidgets==8.1.5
Jinja2==3.1.5
joblib==1.4.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
lxml==5.3.0
lz4==4.3.3
MarkupSafe==3.0.2
matplotlib==3.9.4
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.1.0
pyparsing==3.2.1
pytz==2024.2
pywin32==307
PyYAML==6.0.2
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
sympy==1.13.1
threadpoolctl==3.5.0
tifffile==2024.8.30
tqdm==4.67.1
tzdata==2024.2
widgetsnbextension==4.0.13
wrapt==1.17.2
zstd==1.5.6.2
